@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav>
            <a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="Travel">@Localizer["Travel"]</a>
            <a asp-controller="Panel" asp-action="Index">@Localizer["Admin"]</a>

            @if (User.Identity.IsAuthenticated)
            {
                //<a asp-controller="Home" asp-action="Edit">Create post</a>
                    <a asp-controller="Auth" asp-action="Logout">@Localizer["Logout"]</a>
            }
            else
            {
                    <a asp-controller="Auth" asp-action="Login">@Localizer["SignIn"]</a>
            }
        </nav>
    </div>
    <div class="setLanguage">
        @await Html.PartialAsync("_SelectLanguagePartial")
    </div>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
