@model PostViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{

}
<link href="~/lib/Trumbowyg-main/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<div>
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div>
            <label>@Localizer["Title"]</label>
            <input asp-for="Title" />
        </div>
        <div>
            <label>@Localizer["Description"]</label>
            <input asp-for="Description" />
        </div>
        <div>
            <label>@Localizer["Tags"]</label>
            <input asp-for="Tags" />
        </div>
        <div>
            <label>@Localizer["Category"]</label>
            <select asp-for="Category">
                <option value="Travel">@Localizer["Travel"]</option>
                <option value="Programming">@Localizer["Programming"]</option>
                <option value="Photography">@Localizer["Photography"]</option>
            </select>
        </div>
        <div>
            <label>@Localizer["Body"]</label>
            <textarea id="editor" asp-for="Body"></textarea>
        </div>
        <div>
            <label>@Localizer["Image"]</label>
            <input asp-for="CurrentImage" type="hidden" />
            <input asp-for="Image" />
        </div>
        <input type="submit" value="@Localizer["Submit"]" />
    </form>
</div>

@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-main/dist/trumbowyg.min.js"></script>
    <script>
        $('#editor').trumbowyg();
    </script>
}