@model IEnumerable<Post>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{


}

<h2>@Localizer["PanelTitle"]</h2>
<a asp-controller="Panel" asp-action="Edit">
    @Localizer["NewPost"]
</a>

<div>
    <ul>
        @foreach (var post in Model)
        {
            <li>           
                    @post.Title
                -
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                    @Localizer["Edit"]
                </a>
                -
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                    @Localizer["Remove"]
                </a>
            </li>
        }
    </ul>
</div>